<article>
  <img
    class="car-photo"
    [src]="carLocation?.photo"
    alt="Exterior photo of {{ carLocation?.brand }}"
  />
  <section class="car-description">
    <h2 class="car-heading">{{ carLocation?.brand }}</h2>
    <p class="car-location">
      {{ carLocation?.city }}, {{ carLocation?.state }}
    </p>
  </section>
  <section class="car-features">
    <h2 class="section-heading">About this car specification</h2>
    <ul>
      <li>Cars available: {{ carLocation?.availableCars }}</li>
      <li>Car model: {{ carLocation?.model }}</li>
      <li>Car year: {{ carLocation?.year }}</li>
      <li>Car Fuel Type: {{ carLocation?.fuel }}</li>
      <li>Is this car available: {{ carLocation?.available }}</li>
    </ul>
  </section>
  <section class="car-apply">
    <h2 class="section-heading">Apply now to buy this car</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName" />
      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName" />
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <button type="submit" class="primary">Apply now</button>
    </form>
  </section>
</article>
